# Map, Reduce, Filter


Lesson Goals

In this lesson you will learn all about:

    Mapping, reducing, and filtering in Python
    The apply function in pandas and how it relates to the Python functions above

Introduction

El mapeo y el filtrado son conceptos importantes en la programación funcional. Estos conceptos surgen en otros marcos de programación distribuidos y también existen en Python. En esta lección, ampliaremos los conceptos de programación funcional que hemos aprendido en lecciones anteriores y aplicaremos estos conceptos usando mapeo, reducción y filtrado.
Resumen de programación funcional

Como hemos aprendido en lecciones anteriores, la programación funcional es un paradigma de programación donde el código se escribe de tal manera que evita la mutabilidad o el estado compartido. Las operaciones se realizan pasando datos a través de funciones y almacenando el resultado en una nueva variable.
Inmutabilidad

Un objeto inmutable es un objeto que no se puede cambiar después de su creación. Al ceñirnos a la programación funcional, nos aseguramos de que no haya dos procesos que modifiquen los mismos datos. En cambio, cuando cada función modifica los datos, almacenará los datos resultantes en una nueva variable. Esto da como resultado un código más limpio, más seguro y más fácil de leer.
Estado de transformación

Al escribir funcionalmente, podemos pensar en una función como un mapeo de entrada a salida. Un ejemplo de estado compartido es un juego de computadora en el que tenemos varios personajes moviéndose en la pantalla. Mover un personaje puede afectar a otro personaje, incluso sin querer. Con la programación funcional, esto no es una preocupación para nosotros.
Cartografía

El objetivo de usar la función map() es aplicar una función a una secuencia (como una lista o un conjunto). La función map() toma una función como argumento así como una secuencia y devuelve una secuencia con la función aplicada a cada elemento de la secuencia. Por ejemplo, creemos una función que divida un número por 2 y devuelva el resultado.

In [1]:
def half(x):
    return x / 2

Now that we have our function, let's apply it to a list of numbers.

In [5]:

def half(x):
    return x / 2

l = [10, 12, 34, 23]
map(half, l)

v = [12, 45, 32, 76]
(map(half, v))

The map() function creates a map object which is an iterable object. To create a new list, one option is to convert the iterable into a list.

In [6]:
list(map(half, l)) 

list(map(half, v))

#Ha recorrido cada unno de los objetos de la lista y los ha dividido entre dos, tal y como le indicaba la función llamada half.

[6.0, 22.5, 16.0, 38.0]

Similarly, we can cast the iterable into a set.


# Filtering

Al igual que la función map(), la función de filtro toma una función y una secuencia y devuelve un iterable. El objetivo de esta función es usar la función que le pasamos para eliminar elementos de nuestra secuencia. Nuestra función debe devolver verdadero para todos los elementos que queremos conservar y falso para los que queremos eliminar. Por ejemplo, podemos crear una función que devuelva verdadero si un número es impar y falso si es par. De hecho, usemos una expresión lambda para esta tarea.

Al igual que map(), lo que devuelve es un objeto, no un resultado, por lo que también tenemos que colocar list() al inicio.

In [4]:
filter(lambda x: x % 2 == 1, l)

#Filtra(en una sola línea) si x es impar en la función l

Again, this returns an iterable, so we will cast it to a list.

In [5]:
list(filter(lambda x: x % 2 == 1, l))

[23]

# Reducing

Si bien la función map() aplica la función a cada elemento de la secuencia, a veces es posible que queramos aplicar una función que agregue todos los elementos de la secuencia. Hay ejemplos integrados en Python para esto, como la función max() o la función sum(). reduce() hace exactamente esto. Esta función no es estándar en Python y debe importarse desde la biblioteca de funciones. La función reduce comienza desde el principio de la secuencia y opera en dos elementos a la vez. Esta es la razón por la que la función que se pasa a reduce() siempre debe tomar dos elementos y devolver uno.

Por ejemplo, si nos gustaría crear una función de suma usando reduce(), sumaremos dos elementos a la vez.

Escribamos una expresión lambda que tome dos elementos y los sume.

In [6]:
summation = lambda a, b: a + b

By passing this lambda expression to the reduce() function (along with a list), we will perform the following operations in this order:

reduce order

Here is the completed snippet of code to find the sum:

In [7]:
from functools import reduce

reduce(lambda a, b: a + b, l)

79

Here is another example of reduce(). This time we will use reduce() to find the maximum of a list. We will do this by comparing two elements at a time and returning the largest of the two.

In [8]:
reduce(lambda a, b: a if a > b else b, l)

34


# Functional Programming in Pandas

In pandas, we can use the apply() function to apply a function to a dataset. We do not make a distinction between functions that are applied to every row or every column and aggregate functions. We can use the apply function for both types.

Here is an example of a dataframe.

In [9]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0 -0.056673 -0.586679  1.316608
1  0.317204 -0.670107 -0.402551
2  1.510662  0.801214  1.097762
3 -1.542299  0.058841 -0.053087

We can use the half() function we defined earlier and apply it to every cell in the dataframe.

In [10]:
df.apply(half)

          a         b         c
0 -0.028337 -0.293340  0.658304
1  0.158602 -0.335053 -0.201276
2  0.755331  0.400607  0.548881
3 -0.771149  0.029421 -0.026543

Furthermore, we can define an aggregate function that will return the range of a column (the difference between the maximum and the minimum values).

In [11]:
def range_func(x):
    return max(x) - min(x)

When we apply the function to our dataframe, it will compute the range for each column by default.

In [12]:
df.apply(range_func)

a    3.052961
b    1.471320
c    1.719159
dtype: float64